<section class="policy">
    <div class="container">
        <div class="policy__content">
            <h1>Политика конфиденциальности</h1>
            <h2>1. Общие положения</h2>
            <p>Lorem ipsum</p>
            <p>Lorem ipsum</p>
            <p>Lorem ipsum</p>

            <h2>2. Основные понятия, используемые в Политике</h2>
            <p>Lorem ipsum</p>

            <h2>3. Основные права и обязанности Оператора</h2>
            <p>Lorem ipsum</p>

            <h2>4. Основные права и обязанности субъектов персональных данных</h2>
            <p>Lorem ipsum</p>

            <h2>5. Оператор может обрабатывать следующие персональные данные Пользователя</h2>
            <p>Lorem ipsum</p>

            <h2>6. Принципы обработки персональных данных</h2>
            <p>Lorem ipsum</p>

            <h2>7. Цели обработки персональных данных</h2>
            <p>Lorem ipsum</p>

            <h2>8. Правовые основания обработки персональных данных</h2>
            <p>Lorem ipsum</p>

            <h2>9. Условия обработки персональных данных</h2>
            <p>Lorem ipsum</p>

            <h2>10. Порядок сбора, хранения, передачи и других видов обработки персональных данных</h2>
            <p>Lorem ipsum</p>
        </div>
    </div>
</section>
